@model shopapp.entity.Product

@{
    Layout="_layout";
}
@section Categories{
  @await Component.InvokeAsync("Categories")
}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-3">
        <img src="@Model.imageUrl" alt="" class="card-img">
    </div>
    <div class="col-md-9">
      <div class="card-body">
          <h5 class="card-title">@Model.name</h5>
          <p class="card-text">@Model.description</p>
          @foreach (var item in @Model.productCategories)
          {
              <a href="/product/list/@item.category.id" class="btn btn-link p-0 mb-3">@item.category.name</a>
          }
          
          <h6 class="card-text">
             <small class="text-muted">@Model.price</small>
          </h6>
          <button type="submit" class="btn btn-primary btn-lg">Sepete Ekle</button>
      </div>
    </div>
  </div>
  </div>
</div>